<article class="post-card-wrap column medium-6 large-5 {{passed_class}}">
  <div class="post-card {{#if featured}} post-card--featured {{/if}}">

    <a href="{{url}}" class="fadein post-card__image cover-image FlexEmbed FlexEmbed--4by3" {{#if image}} style="background-image: url({{image}}) {{/if}}">
      {{#if featured}}
      <span title="Featured Post">
        <span class="post-card--featured__icon" data-icon="ei-star" data-size="s"></span>
      </span>
      {{/if}}
    </a>

    <a href="{{url}}" class="block post-card__info">
      <div class="post-card__meta">
        <time class="post-card__meta__date sans-serif uppercase" datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMMM YYYY"}}</time>
      </div>

      <h2 class="post-card__title">
        {{title}}
      </h2>
    </a>

  </div>
</article>